<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title"><%= Spree.t(:notes) %></h1>
      </div>

      <div class="panel-body">
        <%= form_for sub_save, url: spree.change_notes_admin_sub_save_url(sub_save) do |f| %>
          <div class="col-md-9">
            <%= f.text_area :notes, class: 'form-control', style: 'max-width: 100%;min-width: 100%;' %>
          </div>

          <div class="col-md-3">
            <%= button 'Update', 'save' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
